@model BusShuttleManager.Models.RoutesViewModel
@{
    ViewData["Title"] = "Routes";
}



<h2>Routes</h2>
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                           <a class="nav-link text-dark" asp-controller="Home" asp-action="Drivers">Drivers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Busses">Buses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Stops">Stops</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Routes">Routes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Loops">Loops</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Entries">Entries</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

@using (Html.BeginForm("Routes", "Home", FormMethod.Post))
{
    <div>
        @Html.DropDownList("selectedLoopId", new SelectList(Model.Loops, "Id", "Name"), "Select Loop", new { onchange = "if(this.value != '') this.form.submit();" })
    </div>

}

@if (Model.Stops != null && Model.Stops.Any())
{
   @using (Html.BeginForm("AddRoute", "Home", FormMethod.Post))
    {
        <div>
            @Html.DropDownList("selectStopId", new SelectList(Model.Stops, "Id", "Name"), "Select Stop")
            <button type="submit">Assign</button>
            <input type="hidden" name="selectedLoopId" value="@Model.SelectedLoop.Id" />
        </div>
    }   
}


<table class="dataTable">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Stop
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Routes.OrderBy(route => route.Order))
        {
            <tr>
                <td>
                    @using (Html.BeginForm("MoveRouteUp", "Home", FormMethod.Post))
                    {
                        <input type="hidden" name="routeId" value="@item.Id"/>
                        <input type="hidden" name="selectedLoopId" value="@Model.SelectedLoop.Id" />
                        <button type="submit">Move Up</button>
                        
                    }

                    @using (Html.BeginForm("MoveRouteDown", "Home", FormMethod.Post))
                    {
                        <input type="hidden" name="routeId" value="@item.Id"/>
                        <input type="hidden" name="selectedLoopId" value="@Model.SelectedLoop.Id" />
                        <button type="submit">Move Down</button>
                    }
                </td>
                <td>
                    @if (Model.Stops != null)
                    {
                        var stop = Model.Stops.FirstOrDefault(s => s.Id == item.StopId);
                        if (stop != null)
                        {
                            @stop.Name
                        }
                    }
                    <a asp-action="Delete" asp-Routes-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>